<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-8 col-offset-2">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Input name ..." name="name" [(ngModel)]="name">
          <br><br>
          <input class="form-control mr-sm-2" type="number" placeholder="Input price ..." name="price" [(ngModel)]="price">
          <br>
          <ng-container *ngIf="!name && !price; else elseSearch">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" disabled>
              Search
            </button>
          </ng-container>
          <ng-template #elseSearch>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                    [routerLink]="['/product/list']"
                    (click)="onSearch()"
            >
              Search
            </button>
          </ng-template>
        </form>
      </div>
      <div class="card">
        <h3 class="card-header card-primary"> Product List </h3>
        <div class="card-block">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of products">
              <td>{{ item.id }}</td>
              <td>
                <a [routerLink] ="['/product', item.id]"> {{ item.name }} </a>
              </td>
              <td>{{ item.price | currency: 'VND' : true }}</td>
              <td>{{ item.status ? 'Active' : 'Deactive' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
